QWEN_API_KEY=
DEEPSEEK_API_KEY=

db_host=localhost
db_user=root
password=
dbname=seles_chat
server_url=localhost

DEFAULT_SQL_LIMIT=200
MAX_SQL_LENGTH=5000
SCHEMA_CACHE_TTL_SECONDS=3600
SCHEMA_MAX_RETURN_CHARS=10000
MAX_SQL_REPAIR_ATTEMPTS=1

CHATBI_API_HOST=0.0.0.0
CHATBI_API_PORT=9008
IMAGE_DIR=
